/*Rachel Nelson
Assignment bioSite hobbies css
04/15/23*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: rgb(237,203,236);
  background: radial-gradient(circle, rgba(237,203,236,1) 0%, rgba(112,83,135,1) 100%);
}
h1{
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 2);
}

header {
  font-family: Kristen ITC, cursive;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 25px;
  color: #9A208C;
  padding: 10px;
  background-image: url('images/rainbows.jpg');
  border-bottom: 1px solid white;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
}
a {
  display: block;
  width: 130px;
  padding: 10px;
  font-size: 24px;
  font-family: Kristen ITC, cursive;
  font-weight: bold;
  color: black;
  background-color: #B3C99C;
  border: none;
  border-radius: 15px;
  margin-bottom: 10px;
  margin: 0 auto;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
a:active {
  background: #ccedcf;
  border: 3px solid white;
}

a:hover {
  background-color: #8868a2;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  padding: 10px;
  color: #B3C99C;
  text-decoration: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #8868a2;
  text-decoration: none;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column2, .column3, .column4 {
  flex: 1;
  margin: 10px;
  text-align: center;
}

img {
  max-width: 100%;
}

footer {
  font-family: Kristen ITC, cursive;
  background-color: #B3C99C;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  padding: 0.20rem;
  bottom: 0;
  border-top: 1px solid white;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5), 0px -2px 5px rgba(255, 255, 255, 0.5);
  /* background-image: url('images/soft.jpg'); */
}
