/*Rachel Nelson
Assignment bioSite index css
04/15/23*/
body{
  background-color: #FBACA1;
}

img {
  width: 50%;
  height: auto;
  border-radius: 20px;
}
.image-frame {
  background-image: url("images/watermelon.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: fit-content;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.row {
  display: flex;
}
.column {
  flex: 70%;
  padding: 10px;
}
h1 {
  font-size: 125px;
  font-family: Kristen ITC, cursive;
  color: #333;
  padding: 20px;
  margin-top: 200px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
button {
  display: block;
  width: 130px;
  padding: 10px;
  font-size: 24px;
  font-family: Arial, sans-serif;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  margin: 0 auto;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

button:first-of-type {
  margin-bottom: 20px;
}
button:hover {
  background-color: transparent;
  background-image: radial-gradient(black 15%, transparent 16%), radial-gradient(black 15%, transparent 16%);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  border: 1px solid #A1FBAC;
  text-decoration: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

button:active {
  background-color: black;
  color: #fff;
}
img {
  width: 75%;
  height: auto;
}
p {
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: #333;
  margin-top: 20px;
}
